# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Node modules
node_modules/

# Fichiers de build
dist/
build/
